body{
    margin: 20px;
}
.nav-bar{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
}

.logo-img{
    width: 180px;
    height: 100px;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items >ul > li{
    padding:20px;
}

/* .footer{
    margin: 20px;
    border: solid 1px black;
    height: 50px;
    position: absolute;
    bottom: 0;
    width:100%;
} */

.restaurant-card{
    border: solid 1px black;
    margin: 20px;
    padding: 20px;
    width:250px;
}

.rest-image{
    width:250px;
    
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.cusine-names{
   text-wrap:balance; 
}

.search-container{
    margin: 20px;
}

.search-element{
    width: 200px;
    height: 30px;
}

.search-btn{
    align-items: center;
    background-clip: padding-box;
    background-color: hsla(354, 95%, 51%, 0.8);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 10px;
    height: 40px;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.shimmer-card{
    width: 250px;
    height: 250px;
    background: lightgray;
    margin: 20px;
}

.resto-details{
    border: solid 1px black;
    margin: 20px;
    padding: 20px;
    width:250px;   
}

.resto-menu-items{
    display: flex;
}
